.venv

.env
__pycache__
example_sdk_all.ipynb
pandasai.log
0__config.json
box_oauth_fastapi.py
file.txt
output.xlsx
hierarchical_agent_teams.ipynb
metadata_ver2.xlsx
app/agents/orchestrator_agent/README_ALPHA.md
app/agents/orchestrator_agent/README_BETA.md